.holder {
    width: 950px;
    margin: 30px auto;
    background: lightgray;
}
.blog-post-wrapper {
    border: 1px solid gray;
    margin: 20px 0;
}
.title {
    text-align: center;
    font-size: 20px;
}
.content {
    padding: 3px 10px;
}
.creationDate {
    text-align: right;
    font-size: 12px;
}
.delete-button {
    vertical-align: center;
}
.buttons-group {
    height: 30px;
    display: flex;
    align-content: space-between;
}
.input-with-text{
    width: 350px;
    margin: 15px auto;
}