#discover, #share, #comment, #meet {
    margin-top: 20px;
    margin-bottom: 10px;
    min-height: 400px;
    background: url("../images/discover.jpg") no-repeat;
    background-size: 100% 100%;
    text-align: center;
}

h2{
    color: #f8f9fa;
}


#share {
    background: url("../images/share.jpg");
    background-size: 100% 100%; }

#comment {
    background: url("../images/comment.jpg");
    background-size: 100% 100%; }

#meet {
    background: url("../images/meet.jpg");
    background-size: 100% 100%; }

.welcome-info {
    text-align: center;
}
.button-properties {
    margin: 5px;
}
.btn-group {

}
.button-container {
    display: flex;
    justify-content: center;
}
